@import url(https://fonts.google.com/specimen/Macondo);
/*CSS header*/
.formal_infomation_course{
    background-color: #06345C;
    height: 200px;
    width:100%;
    color:white;
    padding-top:2%;
}
.formal_infomation_course h2{
    margin-left:7%;
    font-weight:700;
    color:white;
}
.formal_infomation_course p{
    margin-left:7%;
    width:50%;
}
.formal_infomation_course  .evaluate{
    margin-left:7%;
    margin-top:3%;
    cursor:pointer;
}
.formal_infomation_course  .evaluate img{
    width:20px;
    height:20px;
    border-radius:100%;
    display:inline-block;
}
.formal_infomation_course  .evaluate p{
    margin-left:0.3%;
    display:inline-block;
    font-weight:500;
}
.formal_infomation_course  .evaluate i{
   color: yellow;
}


/*Phần đăng ký thanh toán*/
.register_learn{
    height:750px !important;
    width:30%;
    margin-top:-10%;
    left:60%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 2px 2px #E8E8E8;
    padding-top:30px;

}
.register_learn .dong1{
    margin-top:15px;
    margin-left:15px;
}
.register_learn .dong1 .p1{
    display:inline-block;
}
.register_learn .dong1 .p1 p{
   font-size: 35px;
   font-weight: 500;
   color:black;
   display:inline-block;
}
.register_learn .dong1 .p1 .p11{
    margin-top:7px;font-size:15px;position:absolute;
}
.register_learn .dong1 .p2{
    display:inline-block;
    margin-left:3%;
}
.register_learn .dong1 .p21{
    display:inline-block;
    font-size: 20px;
}
.register_learn .dong1 .p22{
    display:inline-block;
    font-size: 10px;
    position:absolute;
    margin-top:0.5%;
}
.register_learn .dong1 .p23{
    display:inline-block;
    color:black;
    position:absolute;
    width:70px;
    margin-left:-70px;
    
}
.register_learn .dong1 .p3{
    display:inline-block;
    margin-left: 2%;
}
.register_learn .dong2{
    margin-top:1%;
    margin-left:15px;
}
.register_learn .dong2 p{
    font-size:15px;
    font-weight: 700;
    display:inline-block;
    color:#006400;
}
.register_learn .dong2 i{
    font-size:15px;
    font-weight: 700;
    display:inline-block;
    margin-left: 0.5%;
    color:#006400;
}
.register_learn .dong3{
    margin-left:15px;
    margin-right:15px;
}
.register_learn .dong3 .dong33{
    width:100%;
    font-weight: 700;
    font-size: 20px;
}
.register_learn .dong4{
    margin-left:15px;
    margin-right:15px;
    margin-top:1%;
}
.register_learn .dong4 i{
    font-weight: 700;
    font-size: 20px;
    margin-left:2px;
}
.register_learn .dong4 .dong41{
    width:100%;
    font-weight: 700;
    font-size: 20px;
}
.register_learn .dong5{
    font-size: 10px;
    text-align: center;
    margin-top:3px;
}
.register_learn .dong6{
    margin-left:15px;
    margin-right:15px;
    margin-top:4%;
}
.register_learn .dong6 i{
   margin-right:10px;
   display:inline-block;
}
.register_learn .dong6 .p61{
    margin-right:10px;
    display:inline-block;
}
.register_learn .dong6 .p62{
    margin-right:10px;
    display:inline-block;
    font-weight:600;
}
.register_learn .dong7 {
    margin-top:-2%;
}
.register_learn .dong8{
    margin-left:15px;
    margin-right:15px;
    margin-top:-2%;
}
.register_learn .dong8 p{
    display:inline-block;
}
.register_learn .dong8 i{
    display:inline-block;
    margin-right:10px;
}
.register_learn  .dong9{
    cursor:pointer;
    margin-top:5%;
    color:#7B68EE;
    text-align: center;
}
.register_learn .dong10{
    margin-left:15px;
    margin-right:15px;
    margin-bottom:7%;
}
.register_learn .dong10 .dong10_1{
    display:inline-block;
    margin-right:10px;
    width:250px;
    border-radius: 3px;
}
.register_learn .dong10 .dong10_2{
    display:inline-block;
}
.register_learn .dong11{
    font-weight: 500;
    margin-left:15px;
    margin-right:15px;
}
.register_learn .dong12{
    margin-left:15px;
    margin-right:15px;
}
.register_learn .dong13{
    margin-left:15px;
    margin-right:15px;
    border-radius: 20px;
    width:90%;
}

/*Phần video*/
.introductionvideo{
    margin-left:7%;
    width:50%;
    height:520px;
    margin-top:-38%;
}
.introductionvideo .video{
    width:100%;
    height:450px;
}
.introductionvideo .video img{
    width:100%;
    height:450px;
}
.introductionvideo .dong1{
    margin-top: -58%;
    margin-left:2%;
}
.introductionvideo .dong1 .dong1_1{
    display:inline-block;
}
.introductionvideo .dong1 .dong1_1 .p1{
    font-size:40px;
    color:white;
    font-family:'Macondo';
    background-color: #000080;
    border-radius: 100%;
    font-weight: 900;
    text-align: center;
    width:50px;
    height:50px;
    display:inline-block;
}
.introductionvideo .dong1 .dong1_1 .p2{
    display:inline-block;
    font-size:20px;
    margin-left:5px;
    color:white;
}
.introductionvideo .dong1 .dong1_2{
    display:inline-block;
    margin-left: 35%;
}
.introductionvideo .dong1 .dong1_2 i{
    color:white;
    margin-left: 32%;
}
.introductionvideo .dong1 .dong1_2 p{
    color:white;
}
.introductionvideo .dong1 .dong1_2 p:hover{
    color:#C0C0C0;
    cursor:pointer;
}
.introductionvideo a{
    color:rgba(32,90,167,0.7)
}
.introductionvideo a .youtube{
    font-size:100px; /*icon dùng font-size*/
    margin-left:40%;
    margin-top:10%;
}
.introductionvideo a .youtube:hover{
    color:red;
    background-color: white;
    border-radius: 20px;  
    cursor:pointer; 
}

/*title course*/
.title_course{
    margin-left:7%;
    width:50%;
    height:50px;
    margin-top:-4%;
    box-shadow: 2px 2px 2px #C0C0C0;
}
.title_course .p1{
    text-align: center;
    width:15%;
    height:50px;
    padding-top: 10px;
    font-weight:700;
    display:inline-block;
}
.title_course .p2{
    text-align: center;
    width:25%;
    height:50px;
    padding-top: 10px;
    font-weight:700;
    display:inline-block;
}
.title_course .p3{
    text-align: center;
    width:25%;
    height:50px;
    padding-top: 10px;
    font-weight:700;
    display:inline-block;
}
.title_course .p1:hover{
    background-color: #C0C0C0;
    cursor:pointer;
}
.title_course .p2:hover{
    background-color: #C0C0C0;
    cursor:pointer;
}
.title_course .p3:hover{
    background-color: #C0C0C0;
    cursor:pointer;
}

/*What you learn*/
.what_you_learn{
    margin-left:7%;
    width:50%;
    height:25%; /*350px*/
    box-shadow: 2px 2px 2px #C0C0C0;
}
.what_you_learn .dong1{
    margin-top:3%;
    margin-left:2%;
    font-weight:700;
    font-size: 20px;
}
.what_you_learn .cot1{
    display:inline-block;
    width:45%;
    margin-right:5%;
}
.what_you_learn .cot1 .cot1_1 i{
    display:inline-block;
    color:#006400;
    font-weight:900;
    margin-right:2%;
}
.what_you_learn .cot1 .cot1_1 p{
    display:inline-block;
    margin-top:-3%;
}
.what_you_learn .cot2{
    display:inline-block;
    width:45%;
}
.what_you_learn .cot2 .cot2_1 i{
    display:inline-block;
    color:#006400;
    font-weight:900;
    margin-right:2%;
}
.what_you_learn .cot2 .cot2_1 p{
    display:inline-block;
    margin-top:-3%;
}

/*Giới thiệu khóa học*/
.introduction_course_detail{
    margin-left:7%;
    width:50%;
    height:50px;
    box-shadow: 2px 2px 2px #C0C0C0;
}
.introduction_course_detail .dong1{
    margin-top:3%;
    margin-left:2%;
    font-weight:700;
    font-size: 20px;
}
.introduction_course_detail .content{
    box-shadow: 2px 2px 2px #C0C0C0;
    padding-top:5%;
}
.introduction_course_detail .content .dong2{
    margin-top:2%;
    margin-left:15px;
    margin-right:15px;
}
.introduction_course_detail .content .dong2_1{
    margin-top:0.1%;
    margin-top:2%;
    margin-left:15px;
    margin-right:15px;
}
.introduction_course_detail .content .dong3{
    font-weight:900;
    margin-left:15px;
    margin-right:15px;
}
.introduction_course_detail .content .dong4{
    margin-left:15px;
    margin-right:15px;
}

/*Nội dung khóa học*/
.detail_content_course{
    margin-top:40%;
    margin-left:7%;
    width:50%;
    box-shadow: 2px 2px 2px #C0C0C0;
}
.detail_content_course .dong1{
    margin-left:3%;
    font-weight:700;
    font-size:25px;
}
.detail_content_course .dong2 i{
    display:inline-block;
}
.detail_content_course .dong2 p{
    display:inline-block;
    font-weight: 600;
}
.detail_content_course .dong3{
    margin-top:2%;
}
.detail_content_course .dong3 .dong3_1{
    display:inline-block;
    margin-left: 2%;
}
.detail_content_course .dong3 .dong3_2{
    display:inline-block;
    
}
.detail_content_course .dong3 .dong3_3{
    display:inline-block;
    font-weight: 500;
    color:blue;
    margin-left: 15%;
}
.detail_content_course .dong3 .dong3_4{
    display:inline-block;
    margin-left: 35%;
}

.detail_content_course .dong3 .dong3_3_test{
    display:inline-block;
    font-weight: 500;
    color:blue;
    margin-left: 19.2%;
}
.detail_content_course .dong4{
    margin-top:2%;
}
.detail_content_course .dong4 .dong4_1{
    display:inline-block;
    margin-left: 2%;
}
.detail_content_course .dong4 .dong4_2{
    display:inline-block;
}
.detail_content_course .dong4 .dong4_4{
    display:inline-block;
    margin-left: 45%;
}
.detail_content_course .dong4 .dong4_4_2{
    display:inline-block;
    margin-left: 42.5%;
}

/*Thông tin giảng viên*/
.infomation_teacher{
    margin-left:7%;
    margin-top:3%;
    width:50%;
    box-shadow: 2px 2px 2px #C0C0C0;
}
.infomation_teacher .dong1{
    margin-left:3%;
    font-weight:700;
    font-size:25px;
}
.infomation_teacher  .cot1{
    display:inline-block;
}
.infomation_teacher  .cot1 img{
   width:200px;
   height:200px;
   border-radius: 100%;
}
.infomation_teacher .cot1 .cot1_1 i{
    display:inline-block;
    margin-left:3%;
}
.infomation_teacher .cot1 .cot1_1 .p1{
    display:inline-block;
    font-weight:700;
}
.infomation_teacher .cot1 .cot1_1 .p2{
    display:inline-block;
}
.infomation_teacher .cot1 .cot1_2 i{
    display:inline-block;
    margin-left:3%;
}
.infomation_teacher .cot1 .cot1_2 .p1{
    display:inline-block;
    font-weight:700;
}
.infomation_teacher  .cot1 .cot1_2 .p2{
    display:inline-block;
}
.infomation_teacher  .cot2{
    display:inline-block;
    width:50%;
    margin-left:15%;
}
.infomation_teacher  .cot2 .p1{
    color:#6495ED;
    font-size:25px;
    font-weight: 700;
}
.infomation_teacher  .cot2 .p2{
    font-style: italic;
}
.infomation_teacher  .cot2 .p3{
    margin-top:5%;
}
.infomation_teacher  .cot2 .b1{
    width:90%;
    color:white;
    margin-top:3%;
    margin-bottom:3%;
}
footer{
    margin-top:5%;
}